name: CI

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '**/src/test/**'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '**/src/test/**'

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Dhttps.protocols=TLSv1.2 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true

jobs:
  test-hotspot-jdk-ci:
    name: Test CI - JDK ${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        java-version: [ '17', '21' ]
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Build all test with Maven
        run: |
          ./mvnw -T1C -B -e clean test
  test-minimum-hotspot-jdk-ci:
    name: Test CI - JDK ${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        java-version: [ '8' ]
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Build datasource test with Maven
        run: |
          ./mvnw -am -pl datasource-samples/druid-sample -T1C -B -e clean test
      - name: Build orm test with Maven
        run: |
          ./mvnw -am -pl orm-samples/mybatis-sample -T1C -B -e clean test
      - name: Build third-part test with Maven
        run: |
          ./mvnw -am -pl third-part-samples/shardingsphere-sample/shardingsphere-jdbc-4.x-spring-sample -T1C -B -e clean test
          ./mvnw -am -pl third-part-samples/shardingsphere-sample/shardingsphere-jdbc-5.x-core-sample -T1C -B -e clean test
          ./mvnw -am -pl third-part-samples/shardingsphere-sample/shardingsphere-jdbc-5.x-spring-sample -T1C -B -e clean test
